@{
    ViewBag.Title = "Keyboard Mirror";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/Keyboard.less">
}

@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>
}

<div class="desktop">
    <div id="upper-board">
        <div class="alpha">
            <div class="row">
                <div id="Tab" class="key">
                    <div class="key-cap">TAB</div>
                </div>
                <div id="KeyQ" class="key">
                    <div class="key-cap">Q</div>
                </div>
                <div id="KeyW" class="key">
                    <div class="key-cap">W</div>
                </div>
                <div id="KeyE" class="key">
                    <div class="key-cap">E</div>
                </div>
                <div id="KeyR" class="key">
                    <div class="key-cap">R</div>
                </div>
            </div>
            <div class="row">
                <div id="CapsLock" class="key">
                    <div class="key-cap">CAPS</div>
                </div>
                <div id="KeyA" class="key">
                    <div class="key-cap">A</div>
                </div>
                <div id="KeyS" class="key">
                    <div class="key-cap">S</div>
                </div>
                <div id="KeyD" class="key">
                    <div class="key-cap">D</div>
                </div>
                <div id="KeyF" class="key">
                    <div class="key-cap">F</div>
                </div>
            </div>
            <div class="row">
                <div id="ShiftLeft" class="key">
                    <div class="key-cap">SHIFT</div>
                </div>
                <div id="KeyZ" class="key">
                    <div class="key-cap">Z</div>
                </div>
                <div id="KeyX" class="key">
                    <div class="key-cap">X</div>
                </div>
                <div id="KeyC" class="key">
                    <div class="key-cap">C</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="ControlLeft" class="key">
            <div class="key-cap">CTRL</div>
        </div>
        <div id="MetaLeft" class="key">
            <div class="key-cap">MOD</div>
        </div>
        <div id="AltLeft" class="key">
            <div class="key-cap">ALT</div>
        </div>
        <div id="Space" class="key">
            <div class="key-cap">_</div>
        </div>
    </div>
</div>
