.desktop {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.desktop #pointer {
  display: none;
  transform: rotate(0deg);
  transform-origin: left;
  position: absolute;
  left: 50%;
  width: 38%;
  height: 10%;
}
.desktop #pointer #arrow {
  width: 0;
  height: 0;
  border: 0;
  margin-left: auto;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid red;
}
.desktop #mouse-body {
  opacity: 0.6;
  background-color: black;
  border-bottom-left-radius: 55px 75%;
  border-bottom-right-radius: 55px 75%;
  height: 160px;
  width: 192px;
  margin-left: 4px;
  border: 2px solid black;
}
.desktop #buttons {
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  width: 200px;
}
.desktop #buttons .mouse-button {
  background-color: black;
  margin: 4px;
  flex: 1;
  align-self: center;
  border: 2px solid black;
}
.desktop #buttons .mouse-button.active {
  background-color: white;
}
.desktop #buttons #LButton {
  border-top-left-radius: 55px 75%;
  height: 130px;
}
.desktop #buttons #RButton {
  border-top-right-radius: 55px 75%;
  height: 130px;
}
