@{
    ViewBag.Title = "Mouse Mirror";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/Mouse.less">
}

@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>
}

<div class="desktop">
    <div id="pointer">
        <div id="arrow"></div>
    </div>
    <div id="mouse">
        <div id="buttons">
            <div id="LButton" class="mouse-button"></div>
            <div id="RButton" class="mouse-button"></div>
        </div>
        <div id="mouse-body">
        </div>
    </div>
</div>
